.nav-container {
    width: 100vw;
    height: 80px;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.nav-logo-container {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo-container span {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #45474B;
    border-radius: 50%;
}



.nav-logo-container img {
    width: 50px;
    padding-top: 5px;

}

.nav-items-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items-container ul {
    display: flex;
}

.nav-items-container ul li {
    list-style: none;

}

.nav-items-container ul li a {
    padding-inline: 20px;
    text-decoration: none;
    color: #45474B;

}

.nav-accesibility-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav-accesibility-container ul {
    display: flex;
    
}

.nav-accesibility-container ul li {
    list-style: none;


}

.nav-accesibility-container ul li a {
    padding-inline: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #45474B;


}

.custom-dropdown .ant-dropdown-menu {
    border-radius: 0 !important;
    /* Quita el borde redondeado */
    margin-top: 25px !important;
    /* Añade un margen superior de 100px */
    font-family: "Poppins", sans-serif;
    background-color: #e7e7e7;
    cursor: pointer;
}

.custom-dropdown-container {
    background-color: transparent;
    border-radius: 0 !important;
    cursor: pointer;
}

.custom-submenu-item {
    font-family: "Poppins", sans-serif;
    background-color: #e7e7e7;
    border-radius: 0 !important;
    margin-left: 20px;
    cursor: pointer;
}